@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #5614b0, #dbd65c);

    --background: 282 52% 3.04%;
    --foreground: 282 8% 96.9%;

    --muted: 282 40% 11.4%;
    --muted-foreground: 282 8% 53.8%;

    --popover: 282 49% 4.94%;
    --popover-foreground: 282 8% 96.9%;

    --card: 282 49% 4.94%;
    --card-foreground: 282 8% 96.9%;

    --border: 282 40% 11.4%;
    --input: 282 40% 11.4%;

    --primary: 282 80% 38%;
    --primary-foreground: 282 8% 96.9%;

    --secondary: 282 40% 11.4%;
    --secondary-foreground: 282 8% 96.9%;

    --accent: 282 40% 11.4%;
    --accent-foreground: 282 8% 96.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 282 8% 96.9%;

    --ring: 282 80% 38%;

    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
